
@media(min-width:576px){

    .text-info{
        left: 35%;
        top: 65%;
    }
    .experiences figure{
        margin-left: 160px;
        height: 40px;
        width: 60px;
        margin-bottom: 30px;
    }

    .fa-graduation-cap{
        font-size: 50px;
        margin-bottom: 20px;
    }
    .experiences div,
    .education div,
    .interests div{
        text-align: center;
        padding-right: 15px;
    }
    .icon-interests img{
        margin: auto;
        max-height: 40px
    }
    .experiences,
    .education,
    .interests{
        padding-top: 20px;
        margin-bottom: 0px!important;
    }
    .interests .watch{
        margin-left: 160px;
        height: 40px;
        width: 70px;

    }
    .interests h2{
        padding-bottom: 15px!important;
    }
    .experiences article,
    .education article,
    .interests article{
        margin-left: 0px!important;
    }
    .email-info article{
        padding-right: 20px;
        padding-bottom: 0px!important;
    }
    .pad p{
        padding-bottom: 0px!important;

    }
    .pad h4{
        padding-top: 0px!important;  
    }
    .pad-text p{
        font-size: 13px;
    }
    .pad-text h4{
        font-size: 19px;
    }
    .email-info p{
        font-size: 13px;
    }
    .masonry{
        margin-bottom: 0px!important;
    }
    .email-info{
        margin-bottom:15px!important;
        margin-top:25px!important;
    }
    .sarma-section{
        margin-bottom: 15px!important;
        margin-top: 10px!important;
    }
    .pad-text h5{
        font-size: 17px;
    }
    .references div{
        text-align: center;
        padding-right: 15px;
    }
    .references{
       padding-top: 20px;
       padding-left: 20px;
    }
    .references p:first-of-type{
        margin-bottom: 0px!important;
        padding-bottom: 0px!important;
    }
    .references h5:last-of-type{
        margin-top: 0px!important;
    }
    .references p:last-of-type{
        margin-bottom: 5px!important;
    }
    .references .fa-graduation-cap{
        margin-bottom: 0px;
    }
    .letter{
        padding-top: 25px;
    }
    .letter address:last-of-type{
        padding-bottom: 20px!important;
    }
    .letter h5{
        font-size: 16px;
        margin-bottom: 20px!important;
    }
     .letter address{
        font-size: 14px;
        margin-bottom: 20px!important;
    }
    .letter p{
        font-size: 12px;
         margin-bottom: 0px!important;    
    }
    
    .location{
        margin-bottom: 0px!important;
    }
    .contact{
        margin-bottom: 0px!important;  
    }
    .contact h2{
        font-size: 25px;
        text-align: center;
        padding-top: 20px;
    }
    .contact-form{
        padding-left: 20px;
        padding-top: 0px!important;
        padding-bottom: 0px!important;
    }
    .email article{
        padding-top: 15px!important;
        padding-bottom: 5px!important;
        font-size: 15px;
    }
    .color-bcg{
       padding-right: 15px!important; 
    }
    



}

@media(min-width:768px){

    .toggle-menu{
        padding: 13px 7px;
        border: 2px solid #37cb59;
    }
    .toggle-menu span{
        height: 2px;
        width: 20px;
        margin-bottom: 2px;  
    }
    .text-info h2{
        font-size: 17px;
    }
    .text-info h4{
        font-size: 13px;
    }
    .fa-user-o,
    .fa-phone,
    .fa-envelope,
    .fa-map-o,
    .fa-calendar-o{
        font-size: 17px; 
    }
    aside p{
        font-size: 10px;
    }
    .font22,
    .font15{
        font-size: 12px;
    }
    .padt address{
        font-size: 12px;
    }
    .padt h4{
        font-size: 13px;
        padding-top: 5px;
    }
    .padt p{
        margin-bottom: 0px;
    }
    .experiences figure,
    .interests .watch{
        margin-left: 0px;
        height: 25px;
        width: 30px;  
    }
    .education .fa-graduation-cap{
        font-size:25px;
    }
    .experiences h2,
    .education h2,
    .interests h2{
        font-size: 15px;
    }
    .experiences h5,
    .education h5{
        font-size: 12px;
    }
    .experiences h6,
    .education h6{
        font-size: 10px;
    }
    .experiences p,
    .education p{
        font-size: 9px;
    }
    .icon-interests img{
        max-height: 20px;
    } 
    .fa-graduation-cap,
    .experiences img,
    .interests img,
    .fa-paper-plane-o{
        margin-top: 0px;
    }
    .email-info p{
        font-size: 10px;
    }
    .experiences h2{
        margin-top: 5px;
    }
    .experiences div,
    .education div,
    .interests div{
        text-align: left;
    }
    .experiences div p,
    .education div p,
    .interests div p{
        padding-bottom: 0px!important;
    }
    .skill .achievement span{
        width: 10px;
        height: 10px;
        right: -5px;
        top: -2.5px;
    }
    .masonry{
        margin-top: 20px;
    }
    .pad-text p{
        font-size: 11px;
    }
    .pad-text h4{
        font-size: 14px;
    }
    .sarma-section .pad-text p:first-of-type{
        font-size: 10px!important;
        padding-bottom: 3px!important;
        padding-top: 5px!important;
    }
    .pad-text h4{
        margin-bottom: 5px!important;
    }

    .sarma-section .pad-text p:first-of-type{
        margin-bottom: 5px;
    }
    .letter h5{
        font-size: 16px;
        margin-bottom: 20px!important;
    }
    .letter address{
        font-size: 14px;
        margin-bottom: 20px!important;
    }
    .letter p{
        font-size: 12px;
        margin-bottom: 0px!important;
    }
    .letter p:nth-of-type(3){
        padding-bottom: 20px!important;
    }
    .references .fa-graduation-cap{
        font-size: 35px;
        padding-left: 15px;
    }
    .references p{
        font-size: 12px;
    }
    .references h5{
        font-size: 16px;
    }
     .references h6{
        font-size: 13px;
    }
    .references h2{
        font-size: 22px;
    }
    .location{
        margin-bottom: 30px!important;
    }
    .contact h2{
        text-align: left;
        padding-top: 0px;
    }
    .contact-form{
        padding-left: 0px;   
    }
    .contact .btn{
        font-size: 13px;
    }
    .color-bcg{
       padding-top: 25px!important; 
    }
    .projects{
        margin-bottom: 10px!important;
    }
    .projects .hover{
        left: 20%;
    }
    .projects .hover h6{
        font-size: 13px!important;
    }
    .projects .hover p{
        font-size: 8px!important;
    }
    

    
    












}




@media(min-width:992px){

    .experiences h2,
    .education h2,
    .interests h2{
        font-size: 20px!important;
    }
    .text-info h2{
        font-size: 20px;
    }
    .icon-interests img{
        max-height: 35px;
    } 
    .sarma-section .pad-text p:first-of-type{
        font-size: 12px!important;
        padding-bottom: 10px!important;
        padding-top:10px!important;
    }
     .pad-text h4{
        padding-top: 10px!important;
    }
    .pad-text h5{
        font-size: 25px;
    }
    .pad-text p{
        font-size: 13px;
    }
    .letter{
       padding-top: 35px;
       padding-bottom: 5px;
    }
    .references .padlr{
        text-align: left;
        padding-left: 20px;
    }
    .projects .hover{
        left: 30%;
    }
    .projects .hover h6{
        font-size: 15px!important;
    }
    .projects .hover p{
        font-size: 10px!important;
    }
    

}

@media(min-width:1200px){


    .experiences h2,
    .education h2,
    .interests h2{
        font-size: 25px!important;
        padding-top: 20px;
    }   
    .experiences div p,
    .education div p,
    .interests div p{
        padding-bottom: 20px!important;
    }
    .experiences h5,
    .education h5{
        font-size: 20px;
    }
    .experiences h6,
    .education h6{
        font-size: 17px;
    }
    .experiences p,
    .education p{
        font-size: 14px;
    }
    .icon-interests img{
        max-height: 50px;
    }
    .experiences figure,
    .interests .watch{
        margin-left: 0px;
        height: 35px;
        width: 50px;
        margin-top: 20px;

    }
    .education .fa-graduation-cap{
        font-size:40px;
        padding-top: 20px;
    }
    .email-info p{
        font-size: 15px;
    }
    .toggle-menu{
        padding: 15px 9px;
        border: 3px solid #37cb59;
    }
    .toggle-menu span{
        height: 3px;
        width: 30px;
        margin-bottom: 3px;  
    }
    .text-info h2{
        font-size: 30px;
    }
    .text-info h4{
        font-size: 20px;
    }
    .fa-user-o,
    .fa-phone,
    .fa-envelope,
    .fa-map-o,
    .fa-calendar-o{
        font-size: 25px;
        padding-top: 20px;
    }
    aside p{
        font-size: 15px;
    }
    .font22{
        font-size: 20px;
    }
    .font15{
        font-size: 15px;

    }
    .padt address{
        font-size: 17px;
    }
    .padt h4{
        font-size: 22px;

    }
    .skill .achievement span{
        width: 14px;
        height: 14px;
        right: -7px;
        top: -4.5px;
    }
    hr{
        margin-top: 40px;
    }
    aside p:first-of-type{
        padding-top: 20px;
    }
    .pad-text p{
        font-size: 15px;
    }
    .pad-text h4{
        font-size: 20px;
    }
    .sarma-section .pad-text p:first-of-type{
        font-size: 15px!important;
    }
    .fa-map-o,
    .fa-calendar-o,
    .fa-envelope,
    .fa-phone{
        padding-top: 0px!important;
    }
    .padt{
        padding-top: 0px!important;
    }
    .font22{
        padding-top: 0px!important;
    }
    .letter h5{
        font-size: 20px;
    }
    .letter h5:last-of-type{
        padding-bottom: 20px;
    }
    .letter address{
        font-size: 16px;
    }
    .letter p{
        font-size: 15px;
    }
    .letter p:nth-of-type(3){
        padding-bottom: 40px!important;
    }
    .references .fa-graduation-cap{
        font-size: 35px;
        padding-left: 15px;
    }
    .references p{
        font-size: 15px;
    }
    .references h5{
        font-size: 18px;
    }
     .references h6{
        font-size: 14px;
    }
    .references .padlr h2{
        font-size: 30px!important;
    }
    .padlr{
        padding-bottom: 20px;
    }
    .padlr hr{
        margin-top:20px!important;
    }
    .contact{
        padding-top: 20px!important;
    }
    .contact .btn{
        font-size: 17px;
    }
    .contact h2{
        font-size: 32px;
        padding-bottom: 30px!important;  
    }
    .email article{
        padding-top: 30px!important;
        padding-bottom: 15px!important;
        font-size: 16px;
    }
    .contact-form{
        padding-bottom: 20px!important;
    }
     .projects{
        margin-bottom: 30px!important
    }
    .projects .hover{
        left: 30%;
    }
    .projects .hover h6{
        font-size: 18px!important;
    }
    .projects .hover p{
        font-size: 12px!important;
    }
    .color-bcg{
       padding-top: 45px!important; 
       padding-right: 45px!important;
    }
    

}