
*{
    font-family: 'Roboto Slab', serif;
}

img{
    max-width:100%;
    max-height: 100%;
}
.masonery{
    position: relative;
}
#map_wrapper {
    height: 400px;
    margin-top: 20px;
}

#map {
    width: 100%;
    height: 100%;
}
.position1{
   position: relative;
}
.toggle-menu{
    padding: 7px 5px;
    border: 1px solid black;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    border-radius: 2px;
}
.toggle-menu span{
    display: block;
    height: 2px;
    width: 20px;
    background: black;
    margin-bottom: 3px;
}
.toggle-menu span:last-of-type{
    margin-bottom: 0;
    
}
.menu-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 15;
    display: none;
}
.menu{
    position: fixed;
    left: -120%;
    top: 0;
    z-index: 20;
    transition: 1s ease;
    
}
.menu.active{
    left: 0px;
}
.menu .side-menu{
    height: 100vh;
    background: black;
    padding: 10px;
    min-width: 300px;
}
.menu .side-menu a{
    display: block;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}


.foto-info{
    position: relative;
}
.text-info{
    position: absolute;
    left: 30%;
    top: 65%;
}
.fa{
    font-size: 30px;
}
.font22{
    font-size: 22px;
}
.font15{
    font-size: 15px;
}

.skill{
    position: relative;
    height: 5px;
    border-radius: 3px;
    background: #ccc;

}
.skill .achievement{
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    width: 0%;
    height: 5px;
    border-radius: 3px;
    transition: 1s linear;
}

.skill .achievement span{
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: white;
    right: -7px;
    top: -4.5px;
}
.experiences figure{
    width: 40px;
    height: 20px;
}
.experiences h2,
.education h2,
.interests h2{
    color: #737373;

}
.experiences h5,
.education h5{
    color: #636363;
}
.experiences h6,
.education h6{
    color: #69b2e2;
}
.experiences p,
.education p{
    color: #8e8d8d;
}


.fa-graduation-cap{
    color: #737373;
}
.interests .watch{
    width: 20px;
    height: 50px; 
}

.icon-interests img{
    margin: auto;
    max-height: 40px;
}
.email-info p{
    color: #d4e5f4;
}
.headphones{
    height: 260px;
}
.photography{
    height: 233px;
}
.card-columns{
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 1.50rem;
            column-gap: 1.50rem;
  }
  .card-text{
      font-size: 18px;
  }
  .sarma{
      margin-bottom: 0px;
      
  }
  
  .data-info{
      margin-left: -15px;
  }
  .single-paragraf{
      font-size: 18px;
  }

  .member1{
      margin-bottom: 0px;
     
  }
  .member2{
      overflow: hidden;
     
  }

